.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;


}

/* header menu */

.menu {
    display: flex;
    justify-content: flex-start;
}

.menu__nav {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    align-items: center;

}

.menu__item {
    display: flex;
    position: relative;
    margin-right: 50px;
    align-items: center;
}

.imhere::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -32px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--color-link);

}

.header-menu__link {
    color: var(--color-accent1);
    text-decoration: none;
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.adr {
    display: flex;
}

.adr__item {

    margin-left: 50px;
    align-items: center;
}

.adr__link {
    display: flex;
    color: var(--color-accent2);
    text-decoration: none;
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.adr__icon {

    width: 16px;
    height: 16px;
    fill: var(--color-accent2);
    margin-right: 10px;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}